<article class="post">
    <div class="post-section">
        <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="created">
            <span> by <b>{{user.username}}</b> on <b>{{date_format created_at}}</b></span>
        </div>
        <div class="content">
            <p>{{post_content}}</p>
        </div>
    </div>
</article>